.status-list {
    display: flex;
    margin-top: 0rem;
    justify-content: center;
}

.body {

    background-color: #0042c6;
}

.status-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Space between rows */
}

.status-item {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    gap: 2rem; /* Space between label and value */
}

.status-label {
    font-weight: bold;
    color: #ffffff;
    text-align: right; /* Align labels to the right */
}

.status-value {
    color: #ffffff;
    text-align: left;
}

.status-title {
    margin-top: 4.5rem;
    font-size: 3rem;
    font-family: 'Urbanist';
    color: #ffffff;
    text-align: center;
}