.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    font-size: 4rem;
    color: white;
    text-align: center;
}

.hero-countdown {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
}

.hero-button {
    margin-top: 1rem;
}

.mentor-button {
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.buttons-container{
    display: flex;
    column-gap: 1rem;
}

@media (max-width: 600px) {
    .buttons-container {
        flex-direction: column;
    }

    .hero-countdown {
        max-width: 45%;
        text-align: center;
    }
}

