.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  font-size: 4rem;
  color: white;
  text-align: center;
}

.hero-countdown {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
}

.priority-text {
  color: white;
}

.dq-login-button {
  margin-top: 1rem;
  padding-inline: 1rem;
  background: #f3b562 !important;
  color: #0e0525 !important;
  border: 2px solid #632323 !important;
}

.buttons-container {
  display: flex;
  column-gap: 1rem;
}

@media (max-width: 600px) {
  .buttons-container {
    flex-direction: column;
  }

  .hero-countdown {
    margin-top: 0.5rem;
    max-width: 45%;
    text-align: center;
  }

  .priority-text {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    max-width: 45%;
    text-align: center;
  }
}
