.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    font-size: 4rem;
    color: white;
    text-align: center;
}

.hero-button {
    margin-top: 1rem;
}
