.question-container {
    display: grid;
    grid-template-columns: 175px 350px; /* Label column and input column widths */
    column-gap: 2rem; 
    margin-bottom: 1.5rem; 
    align-items: center;
}

.question-label {
    color: #0042c6;
    text-align: right; 
    font-size: 1.2rem;
    margin-bottom: 0;
}

.question-input {
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 5px !important;
    border-color: #0042c6 !important;
    color: #00297c !important;
    width: 100%; 
    height: 2rem !important;
    font-size: 1.2rem !important;
    box-shadow: 4px 4px 4px rgba(62, 181, 255, 0.3) !important;
    padding: 0px 10px !important;
}

.invalid-border {
    border-color: #D03027 !important;
}