.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0033cc;
    color: white;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 13%;
  }
