version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./config/custom_memory.conf:/etc/postgresql/custom_memory.conf
    ports:
      - "5432:5432"
    command: postgres -c 'config_file=/var/lib/postgresql/data/postgresql.conf' -c 'include_if_exists=/etc/postgresql/custom_memory.conf'

volumes:
  pgdata:
